<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Most Resume</title>
	<link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="./css/main.css">
</head>
<body>
	<div class="signed">
		<nav class="navbar navbar-default menu">
			<div class="container-fluid  navbar-left">
				<a href="#" class='navbar-brand'>Мост.Резюме</a>
			</div>
			<form action="" class="navbar-form navbar-left">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Введите технологию">
					<button class="btn btn-default navbar-btn">
						<span class="glyphicon glyphicon-search"></span>
						Искать
					</button>
				</div>
			</form>
		</nav>
		<div class="list col-md-3">
			<ul class="results-list">
			</ul>
		</div>
		<div class="resume col-md-9">
			<h1>Резюме</h1>
			<div class="row container-fluid visit-card">
				<div class="photo-wrapper col-md-5">
					<img src="#" alt="Джон Резиг" class="photo">
				</div>
				<div class="visit-description col-md-7">
					<h2 class="name"></h2>
					<h3 class="job"></h3>
				</div>
			</div>
			<div class="resume-more container-fluid">
				<p class="description col-md-12">
				</p>
				<div class="experience col-md-6">
					<h3>Опыт работы</h3>
					<ul>
					</ul>
				</div>
				<div class="about col-md-6 container-fluid">
					<div class="personal col-md-12">
						<h3>Персональная информация</h3>
						<table>
							<tbody>
							</tbody>
						</table>
					</div>
					<div class="skills col-md-12">
						<h3>Навыки</h3>
						<table>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
				<div class="education container-fluid row">
					<h3>Образование</h3>
					<ul>
					</ul>
				</div>
				<div class="additional-info container-fluid row">
					<h3>Дополнительная информация</h3>
					<p class="col-md-12"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid signin col-md-4 col-md-offset-4">
			<form action="">
				<h1>Мост.Резюме</h1>
				<div class="signin-access-code col-md-8 col-md-offset-2">
					<input type="text" class="form-control" placeholder="Код входа"/>
				</div>
				<div class="signin-btn col-md-8 col-md-offset-2">
					<input type="submit" value="Войти" class="btn btn-info col-md-offset-2 col-md-8">
				</div>
			</form>
	</div>
	<script src="../vendor/jquery/dist/jquery.min.js"></script>
	<script src="./js/main.js"></script>
</body>
</html>