<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Most Resume</title>
	<link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="./css/main.css">
</head>
<body>
	<div class="signed">
		<nav class="navbar navbar-default menu">
			<div class="container-fluid  navbar-left">
				<a href="#" class='navbar-brand'>Мост.Резюме</a>
			</div>
			<form action="" class="navbar-form navbar-left">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Введите технологию">
					<button class="btn btn-default navbar-btn">
						<span class="glyphicon glyphicon-search"></span>
						Искать
					</button>
				</div>
			</form>
		</nav>
		<div class="list col-md-4">
			<ul class="results-list">
				<li><img src="./img/users/1.jpg" alt="Nicholas Zakas"><span class="title">Nicholas Zakas</span></li>
				<li><img src="./img/users/2.jpg" alt="John Resig"><span class="title">John Resig</span></li>
				<li><img src="./img/users/3.jpg" alt="David Flanagan"><span class="title">David Flanagan</span></li>
				<li><img src="./img/users/4.jpg" alt="Stoyan Stefanov"><span class="title">Stoyan Stefanov</span></li>
				<li><img src="./img/users/5.jpg" alt="Dmitry Baranovsky"><span class="title">Dmitry Baranovsky</span></li>
			</ul>
		</div>
		<div class="resume col-md-8">
			<h1>Резюме</h1>
			<div class="visit-card">
				<img src="" alt="" class="photo">
				<h2 class="name">John Resig</h2>
				<h3 class="job">JavaScript Developer</h3>
			</div>
			<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda perspiciatis maxime eaque rem quae ullam obcaecati, incidunt praesentium, beatae provident dignissimos cumque delectus, tempore ex voluptates. Doloribus, voluptatem tempore suscipit.</p>
			<div class="experience">
				
			</div>
			<div class="personal">
				<table>
					<tbody>
						<tr>
							<th>Имя:</th>
							<td></td>
						</tr>
						<tr>
							<th>Дата рождения:</th>
							<td></td>
						</tr>
						<tr>
							<th>Телефон:</th>
							<td></td>
						</tr>
						<tr>
							<th>E-mail:</th>
							<td></td>
						</tr>
						<tr>
							<th>Адрес:</th>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
		
	</div>
	<div class="container-fluid signin col-md-4 col-md-offset-4">
			<form action="">
				<h1>Мост.Резюме</h1>
				<div class="signin-access-code col-md-8 col-md-offset-2">
					<input type="text" class="form-control" placeholder="Код входа"/>
				</div>
				<div class="signin-btn col-md-8 col-md-offset-2">
					<input type="submit" value="Войти" class="btn btn-info col-md-offset-2 col-md-8">
				</div>
			</form>
	</div>
			
	<script src='../vendor/jquery/dist/jquery.min.js'></script>
	<script src='../vendor/underscore/underscore-min.js'></script>
	<script src='../vendor/backbone/backbone.js'></script>
	<script src='./js/main.js'></script>
</body>
</html>